@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --color-primary: #153c63;
  --color-second: #155f82;
  --color-third: #0e2841;
  --color-background: #f2f2f2;
  --color-primary-hover: #028d4c;
  --color-button: #016236;
  --color-bg: #f0f3f8;
  --color-muted: #293B0D;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-modal .ant-modal-content {
  padding: 0 !important;
}

.custom-table .ant-table-thead>tr>th {
  background-color: #f2f2f2 !important;
  color: black !important;
  font-weight: seminbold !important;
}


.tabs-full .ant-tabs-content-holder,
.tabs-full .ant-tabs-content,
.tabs-full .ant-tabs-tabpane {
  width: 100% !important;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE + Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.email-ellipsis {
  display: inline-block;
  max-width: 25ch;
  /* tương đương 15 ký tự */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}


.smooth-toggle {
  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.25s ease;
}

.smooth-toggle-enter {
  max-height: 0;
  opacity: 0;
}

.smooth-toggle-open {
  max-height: 800px;
  /* đủ lớn để chứa nội dung */
  opacity: 1;
}

/* Style the custom button */
.custom-file-btn {
  background-color: #1d72b8;
  /* Blue color */
  color: white;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

/* Hide the default file input */
.hidden-file-input {
  display: none;
  /* Hide the default input */
}

/* Optional: Style the text of the input if it's visible (e.g., in a different custom input scenario) */
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}